<%- include('../../shared/includes/head', { pageTitle: 'Success!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
   <h1>Order was successful</h1>
   <p>visit orders page</p>
  </main>
<%- include('../../shared/includes/footer') %>